---
title: Image Display
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Image Display</title>
</head>
<body>
    <img src="/nora-intro.png" alt="Displayed Image" style="max-width: 100%; height: auto;" />
</body>
</html>
